{% extends 'base.html' %} {% block content %}
<h1>Playlists</h1>
<div class="row">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% for playlist in playlists %}
    <div class="card" style="width: 20rem; margin: 2rem;">
      <a class="btn btn-info" href="/playlists/{{ playlist._id }}">
        <div class="card-body">
          <h3 class="card-title" style="margin-bottom: .75rem; margin-top: 0;">
            {{ playlist.title }}
          </h3>
          <h4 class="card-text">{{ playlist.description }}</h4>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
