{% extends 'base.html' %}

{% block content %}
<form method="Post" action="/playlists">
    <fieldset>
        <legend>New Playlist</legend>
        <!-- TITLE  -->
        <p>
            <label for="title">Title</label>
            <input type="text" name="title"/>
        </p>
        <!-- DESCRIPTION -->
        <p>
            <label for="description">Description</label>
            <input type="text" name="description"/>
        </p>
        <!-- VIDEO LINKS -->
        <p>
            <label for="playlist-videos">Videos</label>
            <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Seprate with a newline.</p>
            <textarea id="playlist-videos" name="videos" rows="10"></textarea>
        </p>
        <!-- RATING -->
        <p>
            <label for="playlist-rating">Rating</label>
            <p>Give the playlist a rating between zero and five. Select an option below</p>
            <select id="playlist-rating" name="rating">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </p>
    </fieldset>
    <!-- BUTTON -->
    <p>
        <button type="submit">Save Playlist</button>
    </p>
</form>
{% endblock %}